@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-solaceColor {
    /* this is pretty close to carolina-blue */
    background-color: #285e51;
    border-color: #285e51;
    color: white;
}

